.btn-search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn{
    color: white;
    font-weight: bold;
}

.btn-crear{
    background-color: #3171e7;
    width: 45%;
    margin-right: 10px;
}

.btn-info{
    width: 40%;
}

.search-bar{
    width: 250px;
}

.btn-paginate{
    margin-right: 5px;
    background-color: #86CB92;
    width: 130px;
}

.btn-editar{
    margin-right: 5px;
    background-color: rgb(57, 136, 136);
}
.btn-eliminar{
    background-color: #ee5c5c;
}

#pizzaForm {
    background-color: #f8ad6f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    height: 85%;
    overflow-y: auto;
    /* Esto habilitará el scroll si el contenido excede la altura */
}

#ingredientForm{
    background-color: #f8ad6f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 90%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    height: 50%;
    overflow-y: auto;
}

#pizzaForm form{
    width: 75%;
    display: flex;
    flex-direction: column;
}

#ingredientForm form{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.ingredient-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.porcion{
    margin-left: 25%;
    width: 50%;
}

#btn-ingredients{
    margin-bottom: 10px;
}

.separar-elementos{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.separar-elementos .btn{
    width: 48%;
}

.btn-guardar{
    background-color: #45bd59;
}

.piz_state{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.piz_state h5{
    font-weight: bold;
}

label{
    font-weight: bold;
    font-size: 110%;
}

.admin-options{
    display: flex;
}

.form-select{
    width: 240px;
}

.estado{
    padding: 0 !important;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 18rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    display: none;
}

@media (min-width: 800px) {
    .card {
        width: 45%;
        
    }
}

@media only screen and (max-width: 830px) {
    .btn-search {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .search-bar {
        margin-top: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 590px) {
    .button-text {
        display: none;
    }

    .table {
        display: none;
    }

    .cards {
        display: flex;
    }

    .card {
        display: block;
    }
}

@media only screen and (max-width: 430px) {

    .admin-options{
        flex-direction: column;
        align-items: center;
    }

    .form-select{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}


@media (max-width: 590px) {
    #pizzaForm {
        flex-direction: column;
        overflow-x: auto;
        width: 90%;
    }

    /* También puedes ajustar los estilos de la tabla para que se vea mejor en pantallas pequeñas */
    .table {
        display: none;
        overflow-x: auto;
        white-space: nowrap;
    }
}